<div ng-controller="AddAnotherIpsumCtrl">
    <h2>
        Tool Example 9
        <small>
            adding share buttons with new content
        </small>
    </h2>


    <div ng-repeat="(key, ipsum) in shownIpsums">
        <h3>
            {{ipsum.name}}
            <small><a ng-href="ipsum.source">source</a></small>
        </h3>
        <p>{{ipsum.text}}</p>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div
            addthis-tool
            tool-class="'addthis_sharing_toolbox'"
            share-url="ipsum.source"
            share-title="ipsum.name + ' is pretty cool'"
        >
    </div>

    </div>

    <button
        ng-show="queuedIpsums.length > 0"
        type="button"
        class="btn btn-primary"
        ng-click="addAnother()"
    >
        Add Another Ipsum Example
    </button>
</div>