<html>
  <head>
    <title>Example Site #1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../dist/official-addthis-angular.js"></script>
    <script src="example1.js"></script>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css"></link>

    <style>
        body {
            padding: 30px 30px 30px 60px;
        }
    </style>

  <head>

  <body ng-app="appExample1">
    <div ng-include src="'./NavBar.html'"></div>

    <h1>
        Example Site #1
        <small>No Routing</small>
    </h1>

    <div ng-controller="AddAnotherIpsumCtrl">
        <h2>
            Tool Example 9
            <small>
                adding share buttons with new content
            </small>
        </h2>


        <div ng-repeat="(key, ipsum) in shownIpsums">
            <h3>
                {{ipsum.name}}
                <small><a ng-href="ipsum.source">source</a></small>
            </h3>
            <p>{{ipsum.text}}</p>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div
                addthis-tool
                tool-class="'addthis_sharing_toolbox'"
                share-url="ipsum.source"
                share-title="ipsum.name + ' is pretty cool'"
            >
        </div>

        </div>

        <button ng-show="shownIpsums.length < allIpsums.length" type="button" class="btn btn-default" ng-click="addAnother()">
            Add Another Ipsum Example
        </button>
    </div>

  </body>
</html>