<div ng-controller="AddAnotherImageCtrl">
    <h2>
        Tool Example 10
        <small>
            adding share buttons with new content
        </small>
    </h2>

    <p>Images via <a href="http://thecatapi.com/">The Cat Api</a></p>

    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Share buttons will only appear on images that are at least 200px by 200px. The images used below are random. Some may not be big enough to have share buttons.
    </div>

    <div ng-repeat="(key, imageUrl) in shownImages track by key">
        <img class="img-thumbnail catgif" ng-src="{{imageUrl}}" alt="a random cat gif" />
    </div>

    <button type="button" class="btn btn-default" ng-click="addAnother()">
        Add Another Image
    </button>
</div>